<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <h1>A Guestbook</h1>
        </header>
        @RenderBody()
        <footer>
            <p>This example was created for an Iron Yard crash course.</p>
        </footer>
    </div>
</body>
</html>
